[program:{{ureport_application_name}}]

command=/home/ubuntu/webparticipation/ureport/env/bin/uwsgi --ini /etc/uwsgi/sites/conf.d/ureport.ini --wsgi-file /home/ubuntu/webparticipation/ureport/ureport/wsgi.py
user=root
directory={{ureport_project_dir}}
startsecs=5
autostart=true
autoresart=unexpected
numprocs=1
logto=/etc/uwsgi/ureport-error.log
redirect_stderr=true
unmask=007
