[uwsgi]

chdir={{project_dir}}
mountpoint={{project_dir}}
uid=ubuntu
gid=ubuntu
socket=127.0.0.1:8200
virtualenv={{virtual_env}}
harakiri=20
pythonpath={{project_dir}}
vacuum=true
module={{application_name}}
env=DJANGO_SETTINGS_MODULE={{django_settings_module}}
wsgi-file=/home/ubuntu/webparticipation/ureport-web-participation/wsgi.py
autostart=true
autorestart=true
max-requests=5000
processes=5
logto=/etc/uwsgi/error.log
enable-threads=true
master=true
