{% include 'header.html' %}
{% load i18n %}

{% if deleted %}
  <p>{% trans "We're sorry to see you go." %}</p>
  <a href="/">{% trans "Take me back to the homepage" %}</a>
{% else %}
  <h1>{% trans "Delete Account?" %}</h1>

  <p>{% trans "Are you sure you want to delete your account? Deleted accounts are non-recoverable." %}</p>

  <form action="/ureporter/{{uuid}}/deactivate/" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">{% trans "Yes, I'm sure." %}</button>
    <a href="/" class="btn btn-success">{% trans "No, get me out of here." %}</a>
  </form>
{% endif %}

{% include 'footer.html' %}
