{% include 'header.html' %}
<section>
{% block messages %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      <a class="close" data-dismiss="alert">×</a>
      {{ message|safe }}
    </div>
  {% endfor %}
{% endif %}
{% endblock %}
    <h3 style="font-family:sans-serif;font-size: 28px;font-weight: 200;color: #66757f;margin-bottom: 36px;">
        Find your ureport account
    </h3>
  <form class="form-horizontal webparticipation-form" name="ForgotPasswordForm" action="/forgot-password/" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{next}}"/>
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" required class="form-control">
    </div>
    <div>
      <button class="wp-send btn btn-default" type="submit"> Recover Password </button>
    </div>
  </form>
</section>

{% include 'footer.html' %}