{% include 'header.html' %}
<section>
    {% if password_reset_email_sent %}
        <h4>{{messages}}</h4>
    {% else %}

    <h1> Find your ureport account </h1>
    <form class="form-horizontal webparticipation-form" name="ForgotPasswordForm" action="/forgot-password/"
          method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}"/>

        <div>
            <label for="email">Email</label>
            <input type="email" name="email" required class="form-control">
        </div>
        <div>
            <button class="wp-send btn btn-default" type="submit"> Recover Password</button>
        </div>
    </form>
    {% endif %}
</section>

{% include 'footer.html' %}
