{% include 'header.html' %}

<section>

  {% block messages %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          <a class="close" data-dismiss="alert">×</a>
          {{ message|safe }}
        </div>
      {% endfor %}
    {% endif %}
  {% endblock %}

  <h1>Reset your password</h1>
  <form class="form-horizontal webparticipation-form" name="LoginForm" action="/login/?next={{redirect_to}}" method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{next}}"/>
    <div>
      <label for="passwod">New password</label>
      <input type="password" name="password" class="form-control" required autofocus>
    </div>
    <div>
      <label for="passwod">New password (again)</label>
      <input type="password" name="confirm_password" required class="form-control">
    </div>
    <div>
      <button class="wp-send btn btn-default" type="submit"> Submit </button>
    </div>
  </form>
</section>

{% include 'footer.html' %}
