{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "UReport" %}</title>
    <link rel="stylesheet" href="/static/css/styles.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/web-participation.css" type="text/css">
    <link rel="stylesheet" href="/static/css/inline-styles.css" type="text/css">
</head>

<body class="wp-body pattern-bg">

  {% include 'ureport.in.header.html' %}

  <div class="container">
    <div class="content">

    {% if request.session.lp %}
      <div class="">
        <a href="/poll/latest/" class="newpoll">{% trans "There is a new poll ! Take it now !" %}</a>
      </div>
    {% endif %}
