{% include 'header.html' %}

<body class="wp-body">
  <div class="container">
    <section>

      {% block messages %}
         {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{message.tags}}">
            <a class="close" data-dismiss="alert">×</a>
            {{ message|safe }}
          </div>
          {% endfor %}
        {% endif %}
      {% endblock %}

      <form class="form-horizontal" name="LoginForm" action="/login/?next={{redirect_to}}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{next}}"/>
        <div>
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" required autofocus>
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" required>
        </div>
        <div class="clearfix">
          <button class="wp-send btn btn-default pull-right clearfix"type="submit"> Login </button>
        </div>
        <div>
          <small class="pull-right">
          <a href="/forgot-password/">Forgot password?</a>
          </small>
        </div>
      </form>
    </section>

  </div>

  <script type="text/javascript" src="/static/javascript/jquery.min.js"></script>
  <script type="text/javascript" src="/static/javascript/bootstrap.min.js"></script>
</body>
</html>
