{% include 'header.html' %}

<section>
  <h1> POLL #{{poll_id}} </h1>

  {% if submission %}
      <p class="wp-bubble wp-to">{{submission}}</p>
  {% endif %}
  {% for message in messages %}
      <p class="wp-bubble wp-from">{{message.msg_text}}</p>
  {% endfor %}

  {% if not is_complete %}
  <form action="" method="post">
      {% csrf_token %}
      <input class="form-control" name="send" type="text">
      <button class="wp-send btn btn-default" type="submit">Send</button>
  </form>
  {% else %}
  <a href="/poll/{{poll_id}}/">View Results</a>
  {% endif %}

</section>

{% include 'footer.html' %}
