{% include 'header.html' %}
{% load i18n %}

<section>
  <h1>{{title}}</h1>

  {% if submission %}
      <p class="wp-bubble wp-to">{{submission}}</p>
  {% endif %}
  {% for message in messages %}
      <p class="wp-bubble wp-from">{{message}}</p>
  {% endfor %}

  {% if not is_complete %}
    <form action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="flow_info" value="{{flow_info}}">
      <input type="hidden" name="run_id" value="{{run_id}}">
      <input class="form-control" name="send" type="text">
      <button class="wp-send btn btn-default" type="submit">{% trans "Send" %}</button>
    </form>
  {% else %}
    {% if no_latest %}
      <a href="{{UREPORT_URL}}/polls/">View Polls</a>
    {% elif timeout %}
      <a href="/poll/{{poll_id}}/respond/">Retake the Poll</a>
    {% else %}
      <a href="{{UREPORT_URL}}/poll/{{poll_id}}/">View Results</a>
    {% endif %}
  {% endif %}

</section>

{% include 'footer.html' %}
