{% include 'header.html' %}
{% load i18n %}

{% if confirm_changes %}
  <div class="alert alert-info">
    {% trans "Changes successfully saved." %}
  </div>
{% endif %}

<h1>{% trans "Profile" %}</h1>

<section class='profile-details webparticipation-form'>

  <form action="" method="post">
    {% csrf_token %}

    <div><label for="email">{% trans "Email" %}</label></div>
    <div>{{email}}</div>

    <div><label for="date_joined">{% trans "Date joined" %}</label></div>
    <div>{{date_joined}}</div>

    <div><label for="email_reminders">{% trans "Email new poll reminders" %}</label></div>
    <div><input type="checkbox"
                name="subscribed"
                value="True"
                {% if subscribed %}checked{% endif %}>
                  {% trans "Subscribed" %}
    </div>

    <div>
      <button href="/ureporter/{{uuid}}/" type="submit" class="btn btn-success btn-deactivate">{% trans "Save" %}</button>
    </div>
  </form>

  <div>
    <a href="/ureporter/{{uuid}}/deactivate/" class="btn btn-xs btn-danger btn-deactivate">{% trans "Deactivate account" %}</a>
  </div>

</section>

{% include 'footer.html' %}
