<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <!-- <link rel="stylesheet" href="/static/css/styles.css" type="text/css"> -->
</head>
<body>
    <ul class="messages">
    {% for message in messages %}
        <li>{{message.msg_text}}</li>
    {% endfor %}
    </ul>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input class="dlg-send" name="send" type="text">
        <button type="submit">Send</button>
    </form>
</body>
</html>

