<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <!-- <link rel="stylesheet" href="/static/css/styles.css" type="text/css"> -->
</head>
<body>
    <ul class="messages">
    {% if last_submission %}
        <li>{{last_submission}}</li>
    {% endif %}
    {% for message in messages %}
        <li>{{message.msg_text}}</li>
    {% endfor %}
    </ul>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        {% if is_password %}
        <input class="form-control" name="password" type="password">
        {% else %}
        <input class="form-control" name="send" type="text">
        {% endif %}
        <button class="btn btn-default" type="submit">Send</button>
    </form>
</body>
</html>

