{% include 'header.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
      {{ message|safe }}
    </div>
  {% endfor %}
{% endif %}

<section>
  <h3>{% trans "Do you have something you want to get off your chest? Send us a message." %}</h3>
  <div class="row">
      <div class="col-md-6">
          <form action="{% url 'shout' %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-default pull-right" type="submit">{% trans "SEND" %}</button>
          </form>
      </div>

  </div>

</section>

{% include 'footer.html' %}
