{% include 'header.html' %}
<h1>Unsubscribe from email notifications:</h1>
{% if not subscribed %}
  <p>{{message}}</p>
  <a href="/">Take me back to the homepage</a>
{% else %}
  <p> {{message}}</p>
<!--<form action="/ureporter/{{uuid}}/unsubscribe/" method="post">-->
  <form action="/ureporter/unsubscribe/" method="post">
    {% csrf_token %}
    <input class="form-control" type="text" name="email" value=""/>
    <br>
    <button type="submit" class="btn btn-danger">Unsubscribe</button>
    <a href="/" class="btn btn-success">Cancel</a>
  </form>
{% endif %}

{% include 'footer.html' %}
