<div class="footer-container global-footer">
  <div class="container">
    <footer>
      <div class="row">
        <div class="col-sm-9">
          <div class="welcome-flags-global">
            <a class="flag" href="https://burundi.ureport.in">
              <img src="http://dl-ureport.s3.amazonaws.com/images/flag_bi.png">
            </a>
            <a class="flag" href="https://cameroon.ureport.in">
              <img src="http://dl-ureport.s3.amazonaws.com/images/flag_cm.png">
            </a>
            <a class="flag" href="http://ureport.cl">
              <img src="http://dl-ureport.s3.amazonaws.com/images/U-Report_Chile_Landing_Page_Icon.png">
            </a>
            <a class="flag" href="http://www.ureport.cd/">
              <img src="/sitestatic/img/flags/flag_cd.png">
            </a>
            <a class="flag" href="http://www.ureportindonesia.com/">
              <img src="/sitestatic/img/flags/flag_id.png">
            </a>
            <a class="flag" href="https://liberia.ureport.in">
              <img src="http://dl-ureport.s3.amazonaws.com/images/flag_lr.png">
            </a>
            <a class="flag" href="https://mali.ureport.in">
              <img src="http://dl-ureport.s3.amazonaws.com/images/flag_ml.png">
            </a>
            <a class="flag" href="https://mexico.ureport.in">
              <img src="http://dl-ureport.s3.amazonaws.com/images/U-Report_Mexico_Landing_Page_Icon.png">
            </a>

            <div style="clear:both;"></div>

            <a class="flag" href="https://nigeria.ureport.in">
              <img src="http://dl-ureport.s3.amazonaws.com/images/flag_ng.png">
            </a>
            <a class="flag" href="http://ureport.pk">
              <img src="http://dl-ureport.s3.amazonaws.com/images/U-Report_Pakistan_Landing_Page_Icon.png">
            </a>
            <a class="flag" href="https://centrafrique.ureport.in">
              <img src="http://dl-ureport.s3.amazonaws.com/images/flag_cf.png">
            </a>
            <a class="flag" href="https://senegal.ureport.in">
              <img src="http://dl-ureport.s3.amazonaws.com/images/U-Report_Senegal_Landing_Page_Icon.png">
            </a>
            <a class="flag" href="https://sierraleone.ureport.in">
              <img src="http://dl-ureport.s3.amazonaws.com/images/flag_sl.png">
            </a>
            <a class="flag" href="https://swaziland.ureport.in">
              <img src="http://dl-ureport.s3.amazonaws.com/images/flag_sz.png">
            </a>
            <a class="flag" href="http://www.ureport.ug">
              <img src="/sitestatic/img/flags/flag_ug.png">
            </a>
            <a class="flag" href="http://www.zambiaureport.org/home/">
              <img src="/sitestatic/img/flags/flag_zm.png">
            </a>
            <a class="flag" href="https://zimbabwe.ureport.in">
              <img src="http://dl-ureport.s3.amazonaws.com/images/flag_zw.png">
            </a>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="follow-us">
            FOLLOW US ON:
            <a href="http://twitter.com/UReportGlobal">
              <img class="footer-social" src="/sitestatic/img/twitter_footer_icon.png">
            </a>
          </div>
          <div class="footer-global-ureport-logo">
            <img class="footer-logo" src="/sitestatic/img/footer.png">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="login-link">
            <a class="primary-color" href="https://ureport.in/users/login/"> Login </a>
          </div>
        </div>
      </div>

    </footer>
  </div>
</div>
