<header id="ureport-public-navbar" class="ureport-header-navbar ureport-public-navbar navbar navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a id="brand" class="navbar-brand" href="/">
        <img class="logo"
             src="http://dl-ureport.s3.amazonaws.com/cache/26/f9/26f983ab836bf2fa74cd8e1d47e9c247.png"
             alt="U-Report Global" />
      </a>
    </div>
    <nav id="ureport-public-navbar-collapse" class="collapse navbar-collapse navbar-right public-nav" role="navigation">
      <ul class="nav navbar-nav public-nav-ul">
        <li class="level1">
          <a class="primary-color" href="{{UREPORT_URL}}/about/"> About </a>
        </li>
        <li class="level1">
          <a class="primary-color" href="{{UREPORT_URL}}/polls/"> Polls </a>
        </li>
        <li class="level1">
          <a class="primary-color" href="{{UREPORT_URL}}/stories/"> Stories </a>
        </li>
        <li class="level1">
          <a class="primary-color" href="{{UREPORT_URL}}/ureporters/"> U-Reporters </a>
        </li>
        <li class="level1">
          <a class="primary-color" href="{{UREPORT_URL}}/join/"> Join &amp; Engage </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
