#!/bin/bash

export DJANGO_SECRET_KEY={{secret_key}}
export DATABASE_NAME={{database_name}}
export DATABASE_USER={{database_user}}
export DATABASE_PASSWORD={{database_password}}
export DJANGO_SETTINGS_MODULE={{settings_module}}

#rapidpro vars
export RAPIDPRO_API_TOKEN={{rapidpro_api_token}}
export RAPIDPRO_RECEIVED_PATH={{rapidro_received_path}}
export RAPIDPRO_WEB_CHANNEL={{rapidpro_web_channel}}
export RAPIDPRO_PATH={{rapidpro_path}}
export RAPIDPRO_API_PATH={{rapidpro_api_path}}

#email vars
export DEFAULT_FROM_EMAIL={{default_from_email}}
export EMAIL_HOST_PASSWORD={{email_host_password}}
export EMAIL_HOST_USER={{email_host_user}}
export EMAIL_PORT={{email_port}}
export EMAIL_HOST={{email_host}}
