[program:{{application_name}}]
command=bash  /home/ubuntu/webparticipation/activate_app.sh
user=root
directory={{project_dir}}
startsecs=5
autostart=true
autoresart=unexpected
numprocs=1
logto=/etc/uwsgi/error.log
redirect_stderr=true
unmask=007