[uwsgi]

chdir={{project_dir}}
mountpoint={{project_dir}}
uid=www-data
gid=www-data
socket=127.0.0.1:8200
virtualenv={{virtual_env}}
master=true
harakiri=20
pythonpath={{project_dir}}
vacuum=true
module={{application_name}}
env=DJANGO_SETTINGS_MODULE={{settings_module}}
wsgi-file=/home/ubuntu/webparticipation/ureport-web-participation/wsgi.py
autostart=true
autorestart=true
max-requests=5000
processes=5
logto=/etc/uwsgi/error.log
enable-threads=true
master=true
