[program:{{application_name}}-celery]
command=bash /home/ubuntu/webparticipation/activate_celery.sh
directory={{project_dir}}
user=ubuntu
numprocs=1
stdout_logfile={{project_dir}}/celery/celery-worker-stout.log
stderr_logfile={{project_dir}}/celery/celery-worker-errors.log
autostart=true
autorestart=unexpected
priority=1
redirect_stderr=true
unmask=007

