[program:celery]

command=/home/ubuntu/webparticipation/run_celery.sh
directory={{project_dir}}
user=ubuntu
numprocs=1
logto=/etc/uwsgi/celery-error.log
redirect_stderr=true
autostart=true
autorestart=true
unmask=007
