[program:webparticipation-celery]
command={{project_dir}}/env/bin/python {{project_dir}}/manage.py celery worker --settings=webparticipation.settings.deploy --loglevel=INFO --beat
directory={{project_dir}}
user=ubuntu
numprocs=1
logto=/etc/uwsgi/celery-error.log
redirect_stderr=true
autostart=true
autorestart=true
unmask=007
