.wp-body {
  margin: 0 auto;
  background: #fff;
}

.wp-logo { margin-bottom: 2em; }

.wp-bubble  {
  color: #fff;
  border-radius: 6px;
  padding: 10px 10px;
}
.wp-to {
  background: blue;
  margin-left: 2em;
}
.wp-from {
  background: green;
  margin-right: 2em;
}

.wp-body input.form-control {
  width: 100%;
  height: 40px;
  padding-right: 110px;
}

.wp-send {
  width: 100%;
  height: 40px;
  margin-top: .5em;
}

.wp-send:hover {
  cursor: pointer;
}

.webparticipation-form label {
  margin-top: 1em;
}

.btn-deactivate {
  margin-top: 2em;
}
