.wp-bubble  {
  color: #000000;
  border-radius: 6px;
  padding: 10px 10px;
}
.wp-to {
  background: #FFD100;
  margin-left: 4em;
}
.wp-from {
  margin-right: 2em;
}

.wp-body input.form-control {
  width: 100%;
  height: 40px;
  padding-right: 110px;
}

.wp-send {
  width: 100%;
  height: 40px;
  margin-top: .5em;
}

.wp-send:hover {
  cursor: pointer;
}
