upstream webparticipation {
   server 127.0.0.1:8200;
}

upstream ureport {
   server 127.0.0.1:8100;
}

server {
    listen 80;
    server_name {{web_participation_root_bare}};

    charset utf-8;
    error_log /var/log/nginx/error.log debug;
    client_max_body_size 75M;

    proxy_set_header            Host            $host;
    proxy_set_header            X-Real-IP       $remote_addr;
    proxy_set_header            X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_read_timeout                          60s;
    proxy_pass_request_headers                  on;

    uwsgi_param Host              $host;
    uwsgi_param X-Real-IP         $remote_addr;
    uwsgi_param X-Forwarded-For   $proxy_add_x_forwarded_for;
    uwsgi_param X-Forwarded-Proto $http_x_forwarded_proto;

    location /static {
       alias /home/ubuntu/webparticipation/ureport-web-participation/webparticipation/static;
    }

    location /sitestatic {
       alias /home/ubuntu/webparticipation/ureport/sitestatic;
    }

    location / {
        include uwsgi_params;
        uwsgi_pass ureport;
    }

    location /poll/latest/ {
        include uwsgi_params;
        uwsgi_pass webparticipation;
    }

    location ~* ^/poll/(\d+)/respond/$ {
        include uwsgi_params;
        uwsgi_pass webparticipation;
    }

    location ~* ^/ureporter/([\d\w-]+)/? {
        include uwsgi_params;
        uwsgi_pass webparticipation;
    }

    location ~* ^/password-reset/([\d\w-]+)/? {
        include uwsgi_params;
        uwsgi_pass webparticipation;
    }

    location ~* ^/(index|login|logout|register|forgot-password|ureporter|rapidpro-receptor|send-token|confirm-token)/?$ {
        include uwsgi_params;
        uwsgi_pass webparticipation;
    }

}
