<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register to be a U-Reporter</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/modernizr.min.js"></script>
</head>
<body>

    <h1>Register</h1>

    <label for="">email<input type="text"></label>

    <p>Reponses:</p>
    <ul class="responses">
    </ul>
    <button class="fetch" style="position: fixed; bottom: 0; right: 0;">get more bacon!</button>

    <h3>user:</h3>
    <p class="user"></p>

    <h3>websockets:</h3>
    <p class="has-web-sockets"></p>

    <script src="/static/js/jquery.min.js"></script>
    <script>
        var user = parseInt(Math.random()*100000)
        $('.user').html(user)

        $('html.websockets').length ? $('.has-web-sockets').html('true') : $('.has-web-sockets').html('false')

        function getMoreBacon() {
            $.get('https://baconipsum.com/api/?type=meat-and-filler&paras=1&format=text&rand' + Math.random(), function(data) {
                $('.responses').append('<li>' + data.substring(0, 20) + '</li>')
            })
        }

        $('.fetch').on('click', function(e) {
            getMoreBacon()
        })

        getMoreBacon()
    </script>
    <!--
    <script> if ($('html.websockets').length) alert('websockets!') </script>
     -->
</body>
</html>
